
.container{
    background: #F8F6F4;
}

.summary{
display: grid;
justify-items: center;
grid-template-columns: repeat(2,minmax(0,1fr));
grid-template-rows: auto 1fr;
margin: 100px 10px 0 10px ;
font-family: 'Playfair Display', serif;
}

a:link{
    text-decoration: none; 
}
.profile-pic{
   place-items: center;
   grid-area: 2/-2/1/3;
   height: 300px; 
   border-radius: 50%;
}
/* .info{
    font-family: 'Playfair Display', serif;
}
#font{
    font-family: 'Playfair Display', serif;
} */
.experience{
    margin-top: 100px;
    font-family: 'Playfair Display', serif;
}
.education{
    margin-top: 100px;
    font-family: 'Playfair Display', serif;
}
.social-media{
    margin-top: 100px;
    /* margin-left: 50px; */
    line-height: 2;
    padding-left: 0;
}
@media (max-width: 485px) {
    .social-media{
    margin-left: 40px;
    }
    span{
    font-size: 17px;
    }
    
}
.icon-text{
display: flex;
flex-direction: column;
/* height: 80px; */
/* gap: 10px; */
}
#icon{
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
}
span{
    font-size: 20px;
    font-weight: 500;
    /* margin-left: 2rem; */
    padding-left: 2rem  ;
}
.certification{
    margin-top: 250px;
    font-family: 'Playfair Display', serif;
}
.cert{
    display: grid;
    grid-template-rows: repeat(var(--bs-rows, 1), 1fr);
    grid-template-columns: repeat(var(--bs-columns, 2), 1fr);
    gap: var(--bs-gap, 1.5rem);
}

#cert{
height: 400px;
}
